$main-bg-color: #FFFFFF;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$accent-color:#2196F3;
$heading-bg-color: #2F303A;
$section-titles-color: #212121;
$our-service-hover-color:#d31900;
$team-bg-color: #F5F4FA;
$dark-background-color: #2F303A;
$contact-info-footer:rgba(255, 255, 255, 0.6);
$button-bg-color:#F5F4FA; 
$customer-brnads-color:#AFB1B8;
$modal-bg:rgba(0, 0, 0, 0.2);


$transparent-grey-color: #2F303ACC;
$transparent-blue:#2196F3E5;
$time:250ms;
$time-function:cubic-bezier(0.4, 0, 0.2, 1);